*{
  font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

}


#loader img{

  width: 150px;
  height: 100px;
  background-color: white;
  border-radius:0.5rem ;
  box-shadow: 0 0 10px grey;
}

#loader {
  display: grid;
place-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
 
}

#dispitems{
  align-items: center;
  align-content: center;
  text-align: center;
}

/*gauri home page code*/




#navbar2 {
  margin-top: 5px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   text-transform: uppercase;
   font-size: 18px;
   padding: 20px 24px 0px 24px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/

  box-shadow: rgba(0, 0, 0, 0.05) 0px 25px 20px -20px;
  
   }
 
  #navbar2> div{
     cursor: pointer;
     width: 200px;
     text-align: center;
     padding-bottom: 10px;
     border-bottom: 6px solid transparent;
   }

   #Live_profile,
   #WOMEN_profile,
   #Accessories_profile, 
   #Winter_profile{
     display: none;
     margin: 10px;
   }
  
   .sale {

     display: grid;
     justify-content: center;
     align-items: center;
     width: 90%;
     margin: 30px 0px 30px 60px;
     
       }
     .sale div{
      cursor: pointer;
         width: auto;
         display: grid;
         justify-content: center;
         align-items: center;
         grid-template-columns:repeat(2,1fr);
     }
     .sale div img{width: 100%;}
.one{
  cursor: pointer;
         width: auto;
         display: grid;
         justify-content: center;
         align-items: center;
}

  img{
    cursor: pointer;
  }    
/*slider1*/

.slider{
  height:auto;
  margin: 15px;
  position:relative;
  width:98%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track{
width: 98%;
margin: 10px 10px;
margin-right: 10px;
display: flex;
width: calc(350px*8);
animation: scroll 40s linear infinite;
}
.slide-track:hover{
  animation-play-state: paused;
}
@keyframes scroll {
  0%{
      transform: translateX(0);
  } 
  100%{
transform: translateX(calc(-250px*4));
  }
  
}

.slide {
  width: 500px;
  display: flex;
  align-items: center;
  padding: 20px;
  perspective: 100px;
  border: 0px solid grey;

}
.slide>img{
  width: 100%;
  transition: transform 2s;


}
.slide>img:hover{
  transform: translateZ(20px);

}

.slider::before,
.slider::after{
 background: linear-gradient( to right,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);
  content:"";
  height: 100px;
 position: absolute;
  width: 15%;
  z-index: 2;
}
.slider::before{
  left: 0;
  top: 0;
}
.slider::after{
  right: 0;
  top:0;
  transform: rotateZ(180deg);
}
/*slider1*/


.box1 > img {
  cursor: pointer;
  width: 98%;
  text-align: center;
  margin: 30px 0px 60px 0px;
  border: 0px solid red;
}

.box2 {
  font-size: 16px;
  width: 80%;
  display: flex;
  gap: 20px;
  border: 0px solid red;
  margin: auto;
  text-align: center;
}
.box2 > .mens > img {
  cursor: pointer;
  width: 80%;
  height: auto;
  border: 1px solid grey;
  
}
.box2 > .mens > h3 {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  width: 80px;
  margin-left: 10px;
  text-align: center;
}


/*    ____________________*/


.box3 {
  height:250px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  gap: 15px;
   margin: 0px 0px 10px 10px;
   border: 0px solid red;
}
.box3 > .pop{
height: 70%;
width: auto;
}
.box3 > .pop> img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.box3 > .pop > h2 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

#new_m{
  height: 300px;
  width: 80%;
}
#new_w{
  height: 300px;
  width: 80%;
}
.box4> div{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: baseline;
  height:300px;
  width: 80%;
margin: 30px 0px 30px 10%;
  border: 0px solid yellow;
 
  
  }
  .box4> div>div{
  justify-content: center;
  align-items: center;
  text-align: left;
    border: 0px solid green;
    height: 65%;;
    width: auto;
   
  }
  .box4> div>div img{
    height:50%;
    padding-left: 30%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }



 /*    ____________________*/


.Two_in_one{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 30px 0px 30px 35px;
  
}
.Two_in_one div{
  cursor: pointer;
     width: auto;
     display: grid;
     justify-content: center;
     align-items: center;
     grid-template-columns:repeat(2,1fr);
 }
 .Two_in_one div img{width: 100%;}

 .Three_in_one{

  justify-content: center;
  align-items: center;
  width: 99%;
  margin: 30px 0px 30px 0px;
  
}
.Three_in_one div{
  cursor: pointer;
     width: auto;
     display: flex;
     width: 95%;
     justify-content: center;
     align-items: center;
    
 }
 .Three_in_one div img{width:400px;}

/*    _______gb____________*/

.Twoimg {
justify-content: center;
align-items: center;
width: 95%;
margin: auto;
border: 0px solid red;
  }
.Twoimg div{
 cursor: pointer;
    width: 99%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns:repeat(2,1fr);
    gap: 20px;

    border: 0px solid gray;
}
.Twoimg div img{width: 100%;}


/*    ________gb____________*/


.box7{
height: auto;
/*position: relative;*/
justify-content: center;
align-items: center;
 margin: 50px 0px 50px 10px;
 border: 0px solid red;
}

.box7> div{
display: grid;
grid-template-columns: repeat(6, 1fr);
width: auto;
gap: 15px;
padding: 10px;
border: 0px solid yellow;
}

.box7>div img{
  height: 200px;
width: 80%;
border: 0.5px dashed gray;
object-fit: contain;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


/*    ____________________*/

.box8{
  /* border: 1px solid; */
 /*position: relative;*/
  width: 90%;
  justify-content: center;
  align-items: center;
   margin: 30px 0px 30px 50px;
   border: 0px solid red;
}

#wTshirt_pro1 div h4{
  font-size: 16px;
}
#Tshirt_pro1 div h4{
  font-size: 16px;
}

#new_m div {
  color: rgba(92, 85, 85, 0.963);
}


.box8>div{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 300px;
  width: auto;
  gap: 30px;
  margin: 20px;

  border: 0px solid green;
 /*position: relative;*/
 font-size: 11px;
}

.box8>div div{
  border: 0.5px dotted gray;
}
.box8>div img
{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-top:10px;
  height: 200px;
  object-fit: contain;
  width: 100%;
 
}
/*    ____________________*/


.slide2 {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 400px;
  width: 300px;
  top: 40%;
}
.slide2 button {
  border-radius: 10px;
  border: 0;
  background-color: rgb(177, 211, 241);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.slide2 button:hover{
  opacity: 1;
  background-color: rgb(177, 211, 241);
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*    _________gb new arrival car0usel___________*/
#carouselm { 
  width: 95%;
  border: 0px solid red;
  perspective: 1200px; 
  background: #dbdbdb; 
  padding: 1%; 
  font-size:0; 
  margin: 0px 0px 20px 22px; 
  overflow: hidden; 
  height: 420px; 
 
}
#spinnerm { 
  transform-style: preserve-3d; 
  height: 300px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 

} 
#spinnerm .caro { 
  width: 40%; max-width: 420px; 
  position: absolute; left: 30%;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
  border: 0px solid green;
}
#spinnerm .caro:nth-child(1) { transform:rotateY(0deg); 
}
#spinnerm .caro:nth-child(2) { transform: rotateY(-45deg); }
#spinnerm .caro:nth-child(3) { transform: rotateY(-90deg); }
#spinnerm .caro:nth-child(4) { transform: rotateY(-135deg); }
#spinnerm .caro:nth-child(5){ transform: rotateY(-180deg); }
#spinnerm .caro:nth-child(6){ transform: rotateY(-225deg); }
#spinnerm .caro:nth-child(7){ transform: rotateY(-270deg); }
#spinnerm .caro:nth-child(8){ transform: rotateY(-315deg); }
#carouselm ~ span { 
  color: black; 
  margin: 5%; 
  display: inline-block; 
  text-decoration: none; 
  font-size: 2rem; 
  transition: 0.6s color; 
  position: relative; 
  margin-top: -6rem; 
  border-bottom: none; 
  line-height: 0; }
  #carouselm ~ span:hover { color: #888; cursor: pointer; }

/*women
*/
  #carouselw { 
    width: 95%;
    border: 0px solid red;
    perspective: 1200px; 
    background: #dbdbdb; 
    padding: 1%; 
    font-size:0; 
    margin: 0px 0px 20px 22px; 
    overflow: hidden; 
    height: 350px; 
  }
  #spinnerw { 
    transform-style: preserve-3d; 
    height: 250px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  
  } 
  #spinnerw .caro { 
    height: 300px;
    width: 40%; max-width: 420px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
    border: 0px solid green;
  }
  #spinnerw .caro:nth-child(1) { transform:rotateY(0deg); 
  }
  #spinnerw .caro:nth-child(2) { transform: rotateY(-45deg); }
  #spinnerw .caro:nth-child(3) { transform: rotateY(-90deg); }
  #spinnerw .caro:nth-child(4) { transform: rotateY(-135deg); }
  #spinnerw .caro:nth-child(5){ transform: rotateY(-180deg); }
  #spinnerw .caro:nth-child(6){ transform: rotateY(-225deg); }
  #spinnerw .caro:nth-child(7){ transform: rotateY(-270deg); }
  #spinnerw .caro:nth-child(8){ transform: rotateY(-315deg); }
  #carouselw  ~ span { 
    color: black; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
    #carouselw  ~ span:hover { color: #888; cursor: pointer; }


/*acc
*/
    #carouselacc { 
      width: 95%;
      border: 0px solid red;
      perspective: 1200px; 
      background: oldlace; 
      padding: 1%; 
      font-size:0; 
      margin: 0px 0px 20px 22px; 
      overflow: hidden; 
      height: 450px; 
    }
    #spinneracc { 
      transform-style: preserve-3d; 
      height: 300px; 
      transform-origin: 50% 50% -500px; 
      transition: 1s; 
     
    } 
    #spinneracc .caro { 
      width: 40%; max-width: 420px; 
      position: absolute; left: 30%;
      transform-origin: 50% 50% -500px;
      outline:1px solid transparent; 
      border: 0px solid green;
    }
    #spinneracc .caro:nth-child(1) { transform:rotateY(0deg); 
    }
    #spinneracc .caro:nth-child(2) { transform: rotateY(-45deg); }
    #spinneracc .caro:nth-child(3) { transform: rotateY(-90deg); }
    #spinneracc .caro:nth-child(4) { transform: rotateY(-135deg); }
    #spinneracc .caro:nth-child(5){ transform: rotateY(-180deg); }
    #spinneracc .caro:nth-child(6){ transform: rotateY(-225deg); }
    #spinneracc .caro:nth-child(7){ transform: rotateY(-270deg); }
    #spinneracc .caro:nth-child(8){ transform: rotateY(-315deg); }
    #carouselacc ~ span { 
      color: black; 
      margin: 5%; 
      display: inline-block; 
      text-decoration: none; 
      font-size: 2rem; 
      transition: 0.6s color; 
      position: relative; 
      margin-top: -6rem; 
      border-bottom: none; 
      line-height: 0; }
      #carouselacc ~ span:hover { color: palevioletred; cursor: pointer; }

/*    ____________________*/

/* ...responsive code   ____________________*/


/*media addition start */

@media all  and (max-width:1000px){
 
  #navbar2 {
    display:grid;
     grid-template-rows: repeat(1,1fr);
     grid-template-columns: repeat(2,1fr);
  
    }

 /*.........................................*/

 .box1  {
  width: 100%;
 
}


 /*.........................................*/
    .box3 {
    display:grid;
    height:430px;
      grid-template-columns: repeat(4,1fr);
      margin-left: 30px;
    }
    .box3 > .pop{
      height:100px;
      width: 100px;
      }
     
    
     /*.........................................*/
     .box4> div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height:200px;
        margin: 10px 0px 10px 10%;
        }
        .box4> div div{height:200px; }
        #new_m{
          height: 600px;
          width: 80%;
          margin-right: 20px;
        }
        #new_w{
          height: 600px;
          width: 80%;
        }
 /*.........................................*/

 .box7> div{
  gap: 10px;
  }
 /*.........................................*/

  .box8>div{
    gap: 25px;
    margin: 17px;
  }

   /*.........................................*/

   .Twoimg div{
    cursor: pointer;
 
       gap:15px;
   }

 /*.........................................*/
 #carouselm,#carouselw , #carouselacc { 
  height: 250px;}
 /*.........................................*/
  .Three_in_one div img{width:250px;}

}


@media all and (min-width: 540px) and (max-width: 900px){
  #navbar2 {
     display:grid;
      grid-template-rows: repeat(2,1fr);
      grid-template-columns: repeat(2,1fr);
     font-size: 14px;
     }

/*.........................................*/

.box1  {
  width: 99%;
 
}


      /*.........................................*/
     .box3 {
      height:450px;
      display:grid;
      margin-left: 30px;
        grid-template-columns: repeat(4,1fr);
      }
     
     /*.........................................*/
      .box4> div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height:200px;
        margin: 10px 0px 10px 10%;
        }
        .box4> div div{
         
          height:200px;
        
          }
        #new_m{
          height: 600px;
          width: 80%;
          margin-right: 20px;
        }
        #new_w{
          height: 600px;
          width: 80%;
        }

         /*.........................................*/
      

         .box7> div{
          gap: 10px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          }

     /*.........................................*/
.box8{
  height: 600px;
}
          .box8>div{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            margin: 15px;
          }

   /*.........................................*/

   .Twoimg div{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(2,1fr);

    gap:10px;
   }

  /*.........................................*/
   #carouselm,#carouselw , #carouselacc { 
    height: 200px;}
 /*.........................................*/

    .Three_in_one div img{width:200px;}
 /*.........................................*/
}




@media all and (max-width: 560px) {
  #navbar2 {
    display:grid;
     grid-template-rows: repeat(3,1fr);
     grid-template-columns: repeat(2,1fr);
    font-size: 11px;
    }

/*.........................................*/

.box1  {
  width: 100%;
 
}


     /*.........................................*/
    .box3 {
      height:550px;
      display:grid;
        grid-template-columns: repeat(4,1fr);
        margin-left: 30px;
        margin-right: 30px;
      }
       /*.........................................*/
      #new_m{
        height: 500px;
        width: 80%;
        margin-right: 20px;
      }
      #new_w{
        height: 500px;
        width: 80%;
      }
    
      .box4> div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
       
        }
        .box div div{
          height:200px;
        }
        #new_m{
          height: 600px;
          width: 80%;
        }
        #new_w{
          height: 600px;
          width: 80%;
        }

         /*.........................................*/


         .box7> div{
          gap: 10px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          }


     /*.........................................*/

     .box8{
      height: 850px;
    }
          .box8>div{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: auto;
            gap: 10px;
            margin-right: 40px;
            border: 0px solid green;
           font-size: 9px;
          }


   /*.........................................*/

   .Twoimg div{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-template-rows:repeat(2,1fr);
   
    gap:8px;
   }
 /*.........................................*/
   #carouselm,#carouselw , #carouselacc { 
    height: 200px;}
 /*.........................................*/
    .Three_in_one div img{width:130px;}

}

/*media addition end fw20_0095*/