body{
    margin: 0px;
    background-color: #fff8d9;
}
#container{
    display: flex;
    width:100%;
    margin-top: 3%;
    background-color: #fff8d9;
}
#image_div{
    width: 54%;
    text-align: center;
}
#image_div>img{
    width:45%;
    margin-left: 7%;
}
#sign{
    font: caption;
    width:38%;
    background-color: white;
    margin-left: -3%;
}
#box{
    width:70%;
    margin: auto;
    /* border: 1px solid red; */
}
#box>h1{
    font-size: 27px;
}
#buddy{
    width:90%;
}
#buddy>h2{
    font-size: 19px;
}
#box>input{
    width:95%;
    height: 40px;
    margin-top: 9%;
    border: none;
    outline: none;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid rgb(176, 176, 176);
}
#box>input:focus{
    border-bottom: 1.5px solid black;
}
#box>input::placeholder{
    color:rgb(150, 149, 149);
    font-size: 16px;
}
#mobile{
    align-items: center;
    height:95%;
    width: 70%;
    border:none;
    font-size: large;
    font-weight: bold;
    outline: none;
    /* transition: all 0.1s; */
}

/* #mobile:focus{
    border-bottom:1px solid black;
} */
#mobile{
    align-items: center;
}
#mobile::placeholder{
    font-size: 15px;
    margin-left: -100px;
    text-align: left;

}
#input_div{  
    width:95%;
    height:40px;
    margin-top: 9%;
    border: none;
    border-bottom: 1px solid rgb(176, 176, 176);

}
/* #input_div:focus{
   border-bottom: 2px solid black;
} */

#choose{
   height:60%;
   width:20%;
   background-color: #f5f5f5;
   border:none;
   outline: none;

}
#choose:focus{
   border:none;
}
#choose::after{
  font-size: x-large;
  color:grey;
}
#proceed_btn{
    width:97%;
    height:60px;
    margin-top: 30px;
    border: none;
    color:white;
    font-size: larger;
    background-color: #989898;
    border-radius: 5px;
    margin-bottom: 4%;
}
#whatsapp{
     display:flex;
     margin-top: 10%;
     align-items: center;  
     font-size: 15px;
}
#whatsapp>input{
    width: 22px;
    height: 17px;
    accent-color: #51cccc;
    color:red;
    background-color: white;
   
}
#send:checked:before{
    background-color: white;
    color:white;
}
#wrong_pass{
    color:red;
    font-size: small;
    margin-top: 5px;
}
#valid_num{
    color:red;
    font-size: small;
    margin-top: 5px;
}